body {
    background-color: 0000ff;
}
h1 {
    text-align: center;
    color: ff0000;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
#baddies {
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    text-decoration: underline;
}
#goombaImg,
#bobombImg,
#cheepcheepImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}
.goombas,
.bobombs,
.cheepcheeps,
footer {
    text-align: center;
    color: white;
}

